/* Basic reset for margin and padding */
body {
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: #6A9C89;
    font-family: Arial, sans-serif;
}

/* Styling for header */
header {
    background-color: #16423C;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;   
}

/* Brand styling */
.brand {
    font-family: "Lucida Handwriting", sans-serif;
    color: white;
    font-size: 1em;
    padding: 10px;
}

.tablet-container{
    display: none;
}

.mobile-container{
    display: none;
}


/* Navigation Container: Flexbox setup */
.nav-container {
    display: flex;
    justify-content: space-between;  /* Space between items */
    align-items: center;  /* Vertically align items */
    background-color: #16423C;
}

/* Navbar styling */
.navbar {
    font-size: 1em;
    color: white;
    cursor: pointer;
    padding: 10px;
}

/* Nav menu aligned to the right */
.nav-menu {
    display: flex;  /* Make sure items are aligned horizontally */
    gap: 20px;  /* Add spacing between the items */
}

/* List Styling */
.navbar ul {
    list-style-type: none; /* Remove default bullets */
    padding: 0;
    margin: 0;
    display: flex;  /* Horizontally align list items */
    gap: 50px;  /* Add spacing between the items */
}

/* Nav menu links */
.nav-menu a {
    text-decoration: none; /* Removes the underline */
    color: white;
/*    padding: 10px;*/
    text-align: center;
    display: block;
}

/* Hover effect */
.nav-menu a:hover {
    color: #ff6347; 
}

/*--------------- End of Nav Styling ---------------------*/



/*Container Styling*/
.container {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    overflow: hidden;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

/*Photo Styling*/
.photo {
    float: left;
    margin-right: 20px;
    width: 150px;
    height: auto;
    border-radius: 5px;
}

.consoles {
    float: left;
    margin-right: 20px;
    width: 250px;
    height: 150px;
    border-radius: 5px;
    padding: 25px;
}

.container1 {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Optional: Adds space between the boxes */
  }

/* Box Styling */
.box {
    width: 45%;             /* Each box takes 45% of the container width */
    padding: 20px;
    background-color: #C4DAD2;
    border-radius: 5px;
    display: inline-block;
    flex: 1;
}

.welcome {
    text-align: left;
}

h1 {
    margin: 0;
    margin-bottom: 20px;
}

h2 {
    padding: 0;
    margin: 0;
    text-align: center;
}

h4 {
    text-decoration: underline;
}

p {
/*    text-align: justify;*/
}

/*Form Styling*/
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
}
/*Submit Button Styling*/
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
}

.consoles {
    float: left;
    margin-right: 20px;
    width: 250px;
    height: 150px;
    border-radius: 5px;
}

/*Video Styling*/
.iframe-container {
    text-align: center;
}

iframe {
    display: inline-block;
    width: 45%; /* Adjust as needed */
    height: 300px; /* Adjust as needed */
    margin: 10px; /* Space between iframes */
    border-radius: 5px;
    border: none;
}

/*Footer Styling*/
footer {
      background-color: #16423C;
      color: white;
      text-align: center;
      padding: 20px 0;
    }

/*Model Styling*/

.newsletter {
    background-color: #4CAF50;
    color: white;
    margin: 0px;
    margin-right: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
}

 .modal {
            display: none; 
            position: fixed; 
            z-index: 1; 
            left: 0;
            top: 0;
            width: 100%; 
            height: 100%; 
            background-color: rgba(0, 0, 0, 0.8);
        }

        .modal-content {
            background-color: #6A9C89;
            color: white;
            margin: 20px auto; 
            padding: 20px;
            border: 3px solid white;
            border-radius: 5px;
            width: 60%; 
        }

        .close {
            color: red;
            float: right;
            font-size: 28px;
            cursor: pointer;
        }

        .date-container {
            text-align: right;
            margin-bottom: 10px; /* Space between date and content */
        }

        .news-brand {
            font-family: "Lucida Handwriting", sans-serif;
            font-size: 2em;
        }

        .art-row {
            display: grid;
            grid-template-columns: repeat(auto-fit, 74px);
            grid-gap: 20px;
            justify-content: center;
            width: 100%;
        }

        .art-column {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 74px;
            height: 74px;
        }

        .art-column img {
            width: 64px;
            height: 64px;
        }

        .pacman {
            width: 25%;
            height: 25%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .thanks {
            text-align: center;
            font-size: .8em;
        }