/* Responsive Design for Tablet Screens */
@media (max-width: 768px) {
    body {
        background-color: #6A9C89;
        margin: 0;
        padding: 0;
    }

    /* Brand styling */
    .brand {
        font-family: Lucida Handwriting, sans-serif;
        color: white;
        font-size: 1em;
        padding: 10px;
        text-align: center; /* Center brand text */
    }

    .nav-container {
        display: none;
    }

    /* Hide mobile container by default */
    .mobile-container {
        display: none;
    }

    /* Navigation Container: Flexbox setup */
    .tablet-container {
        display: flex;
        flex-direction: column;  /* Stack items vertically */
        align-items: center;  /* Center items horizontally */
        background-color: #16423C;
    }

    /* Navbar styling */
    .tablet-navbar {
        font-size: 1em;
        color: white;
        cursor: pointer;
        padding: 10px;
    }

    /* Center nav-menu within the nav-container */
    .tablet-menu {
        display: flex;  /* Align menu items horizontally */
        justify-content: space-between;  /* Evenly distribute items */
        width: 100%;
        max-width: 768px;  /* Set a max width to control the overall size */
        padding: 0 20px;  /* Add padding for space on smaller screens */
        margin: 0 auto;  /* Center the menu container horizontally */
    }

    /* List Styling */
    .tablet-navbar ul {
        list-style-type: none; /* Remove default bullets */
        padding: 0;
        margin: 0;
        display: flex;  /* Horizontally align list items */
        gap: 50px;  /* Add spacing between the items */
    }

    /* Nav menu links */
    .tablet-menu a {
        text-decoration: none; /* Removes the underline */
        color: white;
        text-align: center;
        display: block;
    }

    /* Hover effect */
    .tablet-menu a:hover {
        color: #ff6347;
    }

/*End of Nav Styling*/


    
}
